/* CSS Document */

.homepage_header_bg{
	background-image:url(/img/header/homepage.jpg);
}

.about_header_bg{
	background-image:url(/img/header/about.jpg);
}

.contact_header_bg{
	background-image:url(/img/header/contact.jpg);
}

.category1_header_bg{
	background-image:url(/img/header/scifi.jpg);
}

.category2_header_bg{
	background-image:url(/img/header/romance.jpg);
}

.category3_header_bg{
	background-image:url(/img/header/thriller.jpg);
}

.category4_header_bg{
	background-image:url(/img/header/fantasy.jpg);
}

.category5_header_bg{
	background-image:url(/img/header/horror.jpg);
}

.category6_header_bg{
	background-image:url(/img/header/adventure.jpg);
}

.faq_header_bg{
	background-image:url(/img/header/faq.jpg);
}

.tnc_header_bg{
	background-image:url(/img/header/tnc.jpg);
}

#menu>ul{
	white-space:normal;
}

#menu>ul>li a.not-link {
	cursor:default;
}

#menu>ul>li a.not-link:hover {
	color: #737d83;
}

.myform .form-group label {
	display: inline-block;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}